body {
    background-color: orange;
}

.lorem {
    color: aqua;
}

.delete {
    background-color: blue;
    color: orange;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-color: blueviolet;
}